In [13]:
# Import pymongo
import pymongo
import pandas as pd
import json
import os

In [16]:
# Set up connection with MongoDB
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define the suicide v happiness data in Mongo
db = client.happinessDB

In [17]:
# def import_content(filepath):
#     mng_client = pymongo.MongoClient('mongodb://localhost:27017')
#     mng_db = mng_client['happinessDB'] 
#     collection_name = 'suicide_rates' 
#     db_cm = mng_db[collection_name]
#     cdir = os.path.dirname('Clean_data/cleaned_data.csv')
#     file_res = os.path.join(cdir, filepath)

#     data = pd.read_csv(file_res)
#     data_json = json.loads(data.to_json(orient='records'))
#     db_cm.remove()
#     db_cm.insert(data_json)

# if __name__ == "__main__":
#   filepath = 'Clean_data/cleaned_data.csv'
#   import_content(filepath)

In [18]:
# Import the CSV containing the cleaned data
data = pd.read_csv('Clean_data/cleaned_data.csv')

records = json.loads(data.T.to_json()).values()

db.Collection.insert_many(data.to_dict('records'))

In [8]:
data.head()

,country,year_x,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($),generation,...,Happiness Score,Standard Error,Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Lower Confidence Interval,Upper Confidence Interval
0,Argentina,2015,male,75+ years,245,712691,34.38,"594,749,285,413",14981,Silent,...,6.574,0.04612,1.24823,0.78723,0.44974,0.08484,0.11451,2.836,NaN,NaN
1,Argentina,2015,male,15-24 years,656,3500580,18.74,"594,749,285,413",14981,Millenials,...,6.574,0.04612,1.24823,0.78723,0.44974,0.08484,0.11451,2.836,NaN,NaN
2,Argentina,2015,male,55-74 years,431,3011963,14.31,"594,749,285,413",14981,Boomers,...,6.574,0.04612,1.24823,0.78723,0.44974,0.08484,0.11451,2.836,NaN,NaN
3,Argentina,2015,male,25-34 years,465,3289927,14.13,"594,749,285,413",14981,Millenials,...,6.574,0.04612,1.24823,0.78723,0.44974,0.08484,0.11451,2.836,NaN,NaN
4,Argentina,2015,male,35-54 years,633,5166179,12.25,"594,749,285,413",14981,Generation X,...,6.574,0.04612,1.24823,0.78723,0.44974,0.08484,0.11451,2.836,NaN,NaN

In [ ]:
# Add in each dictionary
for each in data:
    row = {}
    for field in